<div class="loader" *ngIf="loader">
  <img src="assets/images/loader.gif" alt="">
</div>
<div class="products">
  <div class="product-list">
    <a class="card-main" *ngFor="let product of filteredProducts" (click)="goToDetails(product.id)">
      <div class="card-container">
        <div class="card-inner">
          <div class="card-front">
            <div class="image-container">
              <img [src]="product.image" [alt]="product.name" />
            </div>
            <div class="product-info">
              <h2>{{ product.name }}</h2>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>  