<div class="con">
  <!-- <img  
  class="bgimg" src="assets/images/joinus3.jpg" alt="Join Us" style="width: 100%" /> -->
    <div class="heading">
      <h1>Are you excited about joining our team?</h1>
     
    </div>
    <div>
      <h3>We are looking for....</h3>
    </div>
    <div>
      
      <div class="container">
        <div class="row common" >
          <div class="card col-md-5" data-aos="fade-up">
            <!-- <img
              src="assets/images/bioten.jpg"
              alt="Doctor"
              style="width: 100%"
            /> -->
            <div class="card-top">
              <h1>Regulatory Pharmacist</h1>
            </div>
            <div class="card-bottom">
             <p><span>Location:</span> Singapore</p>

              <p><span>Job Type:</span> Full-time / part-time</p>
              <div>
              <span>Responsibilities:</span>
              <p> Ensure the regulatory compliance of pharmaceutical products in accordance with local,
                regional, and international regulations (FDA, EMA, ICH, WHO, etc.).</p>
              <p>Prepare and submit regulatory dossiers for drug registration, ensuring they meet required
                regulatory standards.</p>
              <p>Review and interpret national and international pharmaceutical regulations and guidelines.</p>
              <p>Maintain and manage regulatory files and databases, ensuring documentation is up-to-date,
                accurate, and accessible.</p>
              <p>Participate in meetings with regulatory authorities to discuss regulatory strategies,
                development plans, and product approvals.</p>
            </div>
            <div>
              <span>Requirements:</span>
              <p> Experience with global regulatory requirements (FDA, EMA, ICH guidelines) is highly
                desirable.</p>
                <p>Registered Pharmacist in Singapore council
                </p>
            </div>
              
            </div>
          </div>
          <div class="card col-md-5" data-aos="fade-up">
            <div class="card-top">
              <h1>Medical Represntative/Product Specialist</h1>
            </div>
            <div class="card-bottom">
              <p><span>Location:</span> Singapore</p>
 
               <p><span>Job Type:</span> Full-time</p>
               <div>
               <span>Responsibilities:</span>
               <p> Promote and sell the company’s nutraceutical products to healthcare professionals,
                including doctors, pharmacists, and hospital procurement managers.</p>
               <p>Present the benefits and features of the products clearly, emphasizing their efficacy, safety,
                and value proposition.</p>
               <p>Achieve sales targets and objectives as set by the Sales Manager, contributing to the
                growth and profitability of the company.</p>
               <p>Maintain accurate records of sales calls, customer interactions, and sales activities in CRM
                systems</p>
               <p> Submit daily, weekly, and monthly sales reports, tracking progress toward targets,
                market feedback, and any challenges faced.
                </p>
             </div>
             <div>
               <span>Requirements:</span>
               <p> Diploma in Life science or any degree</p>
                 <p>minimum of 1-3 years of experience as a Medical Representative or Product Specialist or
                  Sales Representative in the pharmaceutical, healthcare or related industry.
                 </p>
                 <p>Strong communication and presentation skills, with the ability to engage and persuade
                  healthcare professionals.
                  </p>
             </div>
               
             </div>
          </div>
          <div class="card col-md-5" data-aos="fade-up">
            <div class="card-top">
              <h1>Warehouse Assistant</h1>
            </div>
            <div class="card-bottom">
              <p><span>Location:</span> Singapore</p>
 
               <p><span>Job Type:</span> Full-time</p>
               <div>
               <span>Responsibilities:</span>
               <p> Assist with the receiving, unloading, and inspection of incoming shipments to ensure the
                correct products and quantities are received.</p>
               <p>Monitor stock levels and report low or out-of-stock items to the Manager</p>
               <p>Assist in loading and unloading deliveries, as well as preparing goods for dispatch to
                customers or clients.
                </p>
               <p>Maintain cleanliness and orderliness in the warehouse by regularly cleaning and organizing
                storage areas, aisles, and workstations.
                </p>
               <p> Communicate with other departments (e.g., sales, purchasing, distribution) to coordinate
                the flow of goods and resolve any discrepancies.
                
                </p>
             </div>
             <div>
               <span>Requirements:</span>
               <p> High school diploma or equivalent. </p>
                <p>Previous experience in a warehouse, distribution, or logistics environment is preferred, but
                  not required. Entry-level candidates will also be considered.</p>
             </div>
               
             </div>
          </div>
      
       
      
          <div>
  
          
          </div>
        </div>
      </div>
      <div class="banner" >
        <div class="banner-text">
          <h2>Feel free to email your resume if you're interested in applying.</h2>
          <h3><a href="#">enquiry&#64;yasshpharma.com</a></h3 >
          
      </div>
      </div>
    </div>
  </div>

